.btn-light {
  background-color: #fff;
  color: var(--main-color);
  padding: 10px 50px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 0;
  margin: 40px auto;
  display: block;
  cursor: pointer;
}
