.new-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  input {
    padding: 10px 5px;
    border: none;
    outline: none;
    color: var(--main-color);
    font-size: 14px;
    &::placeholder {
      color: rgba(32, 68, 124, 0.5);
    }
  }

  .add-btn {
    border-radius: 100%;
    width: auto;
    min-width: auto;
    padding: 5px;
    background-color: var(--main-color);
    &:hover {
      background-color: var(--main-color);
    }
    span {
      width: auto;
      padding: 0;
      color: #fff;
    }
  }
}
